VITE_APP_ENVIRONMENT=development
VITE_APP_VERSION=
VITE_APP_NAME=trucoshi-client
VITE_APP_HOST=http://localhost:4001
VITE_SENTRY_DSN=https://0a8d92f8c618508de106efafefbaa666@o4511695946121216.ingest.us.sentry.io/4511695947038725
VITE_LIGHTNING_ACCOUNTS_URL=http://localhost:2999/v1
VITE_LIGHTNING_ACCOUNTS_COOKIE_PREFIX=
VITE_ENABLE_BETS_AND_DEPOSITS=0
VITE_DEBUG=0
VITE_DEBUG_PROFILER_THRESHOLD=8
