.PlayButton {
  cursor: pointer;
  position: relative;
  height: 120px;
  width: 340px;
  align-self: center;
}

.PlayButton--disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.PlayButton--disabled img {
  filter: grayscale(100%) brightness(0.9);
  opacity: 0.6;
}

.PlayButton img {
  object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-out;
}

.PlayButton_hover {
  opacity: 0;
}

.PlayButton_default {
  opacity: 1;
}

.PlayButton:hover .PlayButton_default {
  opacity: 0;
}
.PlayButton:hover .PlayButton_hover {
  opacity: 1;
}
